# venv & IDE
.venv/
.env/
.vscode/
.idea/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.coverage
*.log

# Django artifacts
*.log
db.sqlite3
/media/
staticfiles/        # nếu dùng collectstatic output
# hoặc: /static/  (tuỳ cấu trúc dự án)

# Tools caches
.pytest_cache/
.mypy_cache/
